.App {
  text-align: center;
}

div {
  /* 테두리를 기준으로 크기 정함 */
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.black-nav {
  display: flex;
  background-color: rgb(247, 176, 61);
  width: 100%;
  color: white;
  padding-left: 20px;
}

h4 {
  display: inline;

  padding-right: 20px;
}

.like-svg {
  font-size: 30px;
  cursor: pointer;
  color: orange;
}

.remove-post-btn {
  float: right;
  text-align: right;
  font-size: 25px;
  cursor: pointer;
  color: orange;
  border: none;
  background: none;
}

.input {
  margin-top: 20px;
  margin-right: 10px;
  border: none;
  border-bottom: 2px solid orange;
  cursor: pointer;
}

.input:focus {
  outline: none;
}

.postRewrite {
  border: none;
  background: none;
  border-bottom: 1px solid orange;
  margin-right: 20px;
  cursor: pointer;
  font-size: 15px;
}

.postRewrite svg {
  font-size: 25px;
}

.postSort {
  border: none;
  background: none;
  border-bottom: 1px solid orange;
  margin-right: 20px;
  cursor: pointer;
  font-size: 15px;
}

.postSort svg {
  font-size: 25px;
}

.input-btn {
  border: none;
  background: none;
  margin-right: 20px;
  cursor: pointer;
  font-size: 25px;
  color: orange;
}
