.Template {
  max-height: 100vh;
  padding-top: 20px;
}

.title {
  width: 90vw;
  /* 가운데 위치 하도록 */
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: grey;
}
