.TodoItem {
  margin-left: auto;
  margin-right: auto;

  padding: 1rem;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  width: 70%;
}

.TodoItem + .TodoItem {
  margin-top: 15px;
}

.content {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
}

.content svg {
  font-size: 24px;
  margin-right: 8px;
  color: rgb(99, 98, 98);
}

.content.checked svg {
  color: pink;
}
.text {
  margin-left: 0.5rem;
  /* 해당하는 위치 전체를 자기가 차지할 수 있게 */
  flex: 1;
  font-size: 16px;
  color: rgb(99, 98, 98);
}

.content.checked .text {
  color: rgb(176, 176, 176);
  text-decoration: line-through;
  cursor: pointer;
  opacity: 0.6;
}
